*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(27, 27, 39);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15% auto;
  gap: 20px;
  padding: 20px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 700px;
  }

  &__top-boxes {
    display: flex;
    // background-color: rgb(14, 15, 17);
    background-color: rgba(21, 157, 194, 0.594);
    font-family: sans-serif;
    font-size: 20px;
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid rgb(21, 157, 194);
    color: rgb(255, 255, 255);
    font-weight: 400;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width:100%;
    max-width: 700px;
    padding: 0px 0px 45px 0px;
  }

  &__button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    border: none;
    font-family: sans-serif;
    border-radius: 3px;
    background-color: rgb(24, 169, 24);
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }

  }

  &__label {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.705);
  }

  &__input {
    font-family: sans-serif;
    outline: none;
    padding: 10px;
    width:100%;
    max-width: 700px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -1px white;
    border: none;
    text-transform: uppercase;
  }

  &__output {
    font-family: sans-serif;
    background-color: white;
    width: 100%;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -1px white;
    padding: 5px;
    width: 100%;             /* Blok kengligi */
    word-break: break-all;   /* Harflarni har qanday joydan pastga tushiradi */
    white-space: normal;
  }

  &__bottom {
    position: relative;
    width: 100%;
    max-width: 700px;
    padding: 30px 0px 0px 0px;
  }

  &__copy {
    position: absolute;
    top: 0px;
    right:  0px;
    width: 25px;
    height: 25px;
    color: gray;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
    }

  }
}


.warning {
  color: red !important;
}