* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: rgb(22, 22, 24);
}

.warning {
  color: red !important;
}

.main {
  @include display();
  position: relative;
  align-items: start;
  min-height: 100vh;
}

.none {
  display: none !important;
}
