@mixin display() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin hover() {
  transition: all 0.3s ease-in-out; 
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
    transform: scale(0.9);
  }
}
